<settings>
    <mirrors>
        <mirror>
            <id>nexus</id>
            <mirrorOf>*</mirrorOf>
            <url>http://nexus.127.0.0.1.nip.io/repository/maven-public/</url>
        </mirror>
    </mirrors>
    <profiles>
        <profile>
            <id>nexus</id>
            <properties>
                <internal.url>http://nexus.127.0.0.1.nip.io/repository/maven-releases/</internal.url>
                <snapshots.url>http://nexus.127.0.0.1.nip.io/repository/maven-snapshots/</snapshots.url>
            </properties>
            <repositories>
                <repository>
                    <id>central</id>
                    <url>http://central</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>central</id>
                    <url>http://central</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>
        <profile>
            <id>enable-debug</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
                <jkube.debug.enabled>true</jkube.debug.enabled>
            </properties>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>nexus</activeProfile>
    </activeProfiles>
    <servers>
        <server>
            <id>nexus</id>
            <username>${nexus.user}</username>
            <password>$nexus.password</password>
        </server>
        <server>
            <id>nexus-docker.127.0.0.1.nip.io</id>
            <username>${nexus.user}</username>
            <password>$nexus.password</password>
        </server>
    </servers>
</settings>
